In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data_catch = pd.read_csv('Mogador MPA data(catch).csv',sep=';',header=0)

In [11]:
data_catch

      year              functional_group Landed value (tonnes)
0     1950  Other demersal invertebrates               70,6401
1     1950        Large sharks (>=90 cm)              282,5604
2     1950  Other demersal invertebrates              282,5604
3     1950  Other demersal invertebrates              253,5456
4     1950      Large pelagics (>=90 cm)             1059,6015
...    ...                           ...                   ...
2844  2018               Lobsters, crabs            18,0931563
2845  2018               Lobsters, crabs           3,877104925
2846  2018  Other demersal invertebrates           33,41589297
2847  2018  Other demersal invertebrates             20,639228
2848  2018  Other demersal invertebrates           13,75948533

[2849 rows x 3 columns]

In [12]:
L=['(>=90)','(30-89cm)','(<30cm)','(<90cm)']